<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/menu/home"></ion-back-button>
        </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-avatar>
              <img src="../../../assets/man-avatar.png" alt="avatar"/>
          </ion-avatar>
          <ion-button color="secondary" routerLink="profile-edit">Edit profile</ion-button>
        </ion-card-header>
      
        <ion-card-content>
            <ion-list>
              <ion-item><ion-icon name="calendar"> Joined May 2009</ion-icon>Joined May 2009</ion-item>
              <ion-item><ion-icon name="rose"></ion-icon> Born September 01, 1934</ion-item>
              <ion-item><ion-icon name="pin"></ion-icon> Monaco, France</ion-item>
              </ion-list>
        </ion-card-content>
      </ion-card>
</ion-content>
