<!-- <ion-header>
  <ion-toolbar>
    <ion-title>MeetApp</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-tabs>
 
        <ion-tab-bar slot="bottom">
       
          <ion-tab-button tab="map">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-tab-button>
       
          <ion-tab-button tab="chat">
            <ion-icon name="chatbubbles"></ion-icon>
            <ion-label>Chats</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
       
      </ion-tabs>
</ion-content>
